.container {
  max-width: 1080px;
}
#hero {
  background: url("https://images.unsplash.com/photo-1577045175655-6ceaa9f539f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80")
    no-repeat center center/cover;
  position: absolute;
  right: 0;
  top: 0;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.signup-title {
  font-size: 1.5rem;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6c757d;
  text-transform: uppercase;
}

.form-control:focus {
  border-color: rgba(88, 99, 248, 0.5);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
  box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
}

.custom-control {
  min-height: 2rem;
  padding-left: 2rem;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5863f8;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(88, 99, 248, 0.25);
}

.custom-control-label {
  padding-top: 6px;
  padding-left: 6px;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.btn {
  border-radius: 1.25rem;
}

.btn-sm {
  border-radius: 1rem;
}

.btn-lg {
  border-radius: 1.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #5863f8;
  border-color: #5863f8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3341f6;
  border-color: #2735f6;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #5863f8;
  border-color: #5863f8;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2735f6;
  border-color: #1b2af5;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.5);
}

@media (min-width: 768px) {
  .signup-2 {
    position: relative;
  }
  .signup-form {
    margin-top: 30px !important;
  }
  .signup-bg {
    background: url("https://images.unsplash.com/photo-1543965860-82ed7d542cc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1342&q=80")
      no-repeat center center/cover;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50vw - 24px);
    height: 100%;
  }
  .signup-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .signup-bg {
    width: calc(50vw - 60px);
  }
}

@media (min-width: 1440px) {
  .signup-bg {
    width: calc(50vw - 100px);
  }
}

.home-newsletter {
  padding: 80px 0;
  background: #d7816a;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}
